@font-face {
  font-family: 'nextart-thin';
  src: url('../fonts/nextart/nextart_thin.otf');
}

@font-face {
  font-family: 'nextart';
  src: url('../fonts/nextart/nextart_light.otf');
}

@font-face {
  font-family: 'nextart-regular';
  src: url('../fonts/nextart/nextart_regular.otf');
}

@font-face {
  font-family: 'nextart';
  src: url('../fonts/nextart/nextart_bold.otf');
  font-weight: bold;
}
