$bg1: #1b1b1b;
$heading: #191919;
$block-separator: #292929;
$face-border: #363636;
$more-bg-color: #232222;

$header: #d3b483;
$brown_color: #c2a270;
$menu-border-right: #e7d2b0;
$span-color: #ac9065;

$menu-item: #584f41;
$title-text: #403b32;
$title-text-hover: #000;
$title-text-hover: $heading;

$hover-grey: #ddd;
//$grey_color2: #b1b0b0;
$grey_color2: #D0CFCF;
$grey_color: $grey_color2;
$face-hover-border: #666666;
$question-color: $grey_color2;
$genre-color: $grey_color2;

//$white_color: #fff;
$white_color: #EAEAEA;
$transition-time: 0.2s;
