//$bg1: #1b1b1b;
//$header: #d3b483;
//$brown_color: #c2a270;
//$heading: #191919;
//$title-text: #403b32;
//$title-text-hover: $heading;
//
//
//$grey_color: #959595;
//$grey_color2: #8f8f8f;
//$white_color: #fff;
//$menu-border-right: #e7d2b0;
//$menu-item: #584f41;
//
//$block-separator: #292929;
//
//$face-border: #363636;
//$face-hover-border: #666666;
//
//$hover-grey: #aaa;
//
//$span-color: #ac9065;
//
//$genre-color: #626262;
//
//$question-color: #5d5d5d;
//
//$more-bg-color: #232222;
//
//$transition-time: 0.2s;

$bg1: #1b1b1b;
$heading: #191919;
$block-separator: #292929;
$face-border: #363636;
$more-bg-color: #232222;

$header: #d3b483;
$brown_color: #c2a270;
$menu-border-right: #e7d2b0;
$span-color: #ac9065;

$menu-item: #584f41;
$title-text: #403b32;
$title-text-hover: $heading;

$hover-grey: #ddd;
$grey_color2: #b1b0b0;
$grey_color: $grey_color2;
$face-hover-border: #666666;
$question-color: $grey_color2;
$genre-color: $grey_color2;

//new  --
//$bg1: #490F5F;
//$heading: #490F5F;
//$block-separator: #8F48AB;
//$face-border: #363636;
//$more-bg-color: #8d2d95;
//
//$header: #490F5F;
//$brown_color: #FFCC00;
//$menu-border-right: #e7d2b0;
//$span-color: $brown_color;
//
//$menu-item: #584f41;
//$title-text: $brown_color;
//$title-text-hover: $brown_color;
//
//
//$hover-grey: orange;
//$grey_color: yellow;
//$grey_color2: #FFFF00;
//$face-hover-border: orange;
//$question-color: #ffff00c4;
//$genre-color: #626262;

$white_color: #fff;
$transition-time: 0.2s;
//
//
